.float-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-child{
    width: 270px;
    height: 180px;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    background-color: #CF9FFF;
    font-size: small;
}
 
 .basic {
     width: 25px; 
     height: 25px;
     display: block;
     margin: 0 auto 10px auto; 
 }
 
 .contacts {
     width: 25px; 
     height: 25px;
     display: block;
     margin: 0 auto 10px auto; 
 }
 
 .info {
     width: 25px; 
     height: 25px;
     display: block;
     margin: 0 auto 10px auto; 
 }

 p, h4 {
    text-align: center;
 }
